 body {
            margin: 2px; /* Remove default margin */
            height: 100vh; /* Full viewport height */
            background-image: url('https://images5.alphacoders.com/877/877099.jpg'); /* Path to your image */
            background-size: cover; /* Scale image to cover entire area */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Prevent tiling */
            background-attachment: fixed; /* Keep image fixed during scroll */
            font-family: Arial, sans-serif;
            color: white;
        }
 
nav {
  background-color:  #0c0b0c;  
  height: 30px;
  padding-top: 15px;
  padding-right: 5px;
} 

.menu {
    color: lightgray;
    margin: 0.5px;
    padding: 5px;
    font-size: 20px;
    text-decoration:none; 
}

.topmenu:hover {
    color: white;
}

#goggle {
    display: flexbox;
    justify-content: right;

}

.pagebreak {
    break-before: always;        /* New standard */
    break-inside: avoid;
}

   
h1 {
    font: 20px; 
    text-align: left;
    text-emphasis-color: rgba(251, 244, 244, 0.847);
    font-family: 'Courier New', Courier, monospace;
}

p {
    font: 0.5px;
    text-emphasis-color: rgba(251, 244, 244, 0.847);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}