.main{
    overflow-x: scroll;
}

body {
            margin: 0; /* Remove default margin */
            padding: 0;
            height: 100vh; /* Full viewport height */
            width: 100vw; /* Full viewport width */
            background-image: url('https://images5.alphacoders.com/877/877099.jpg'); /* Path to your image */
            background-size: cover; /* Scale image to cover entire area */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Prevent tiling */
            background-attachment: fixed; /* Keep image fixed during scroll */
            font-family: Arial, sans-serif;
            color: white;
        }
 
nav {
    width:100%;
    height:75px;
    background-color: #171d26;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: absolute;
    top: 0;
    z-index: 1;
}


.logo{
    font-size: 32px;
    font-weight: bold;
}
  
.socials-container{    
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 80px;
    gap: 20px;
       
}

.socials-container ul{
    padding: 100px;
    text-decoration: none;
    list-style: none;
}

.socials-container a{
    background-color: none;
    padding: 1em;
    border-radius: 50%;
}

.socials-container a svg{
    height: 32px;
    fill: white;
}

.menu {
    width: 65%;
    display: flex;
    justify-content: center;
    list-style: none;     
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover{
    color:#ccc;

}

.search{
    --padding: 10px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 450px;
    margin-right: 5px;
}

.search form{
    display: flex;
    margin: 0;
}

.search input{
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: var(--padding);
    font-size: 16px;
    color: #333333;
    flex: 1;
}

.search input:hover{
    border: 1px solid #72a0d4;
}

.search input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.25);
}

.search-icon{
    padding-left: 5px;
}

.search button{
    padding: 10px;
    background-color: #0796a0ef;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    justify-content: space-between;
}


.search button:hover{
    background-color: #011211;
}

.text{
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
}
   
h1 {
    font-family: sans-serif;
    font-size: 50px; 
    text-align: left;
    padding-top: 80px;
    padding-left: 65px;
    color: #fff;
}

p {
    font: 5px;
    text-emphasis-color: rgba(251, 244, 244, 0.847);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 40px;
}

.all-teams{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding-left: 70px;
}

.team{
    display: block;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    color: white; /* Text remains solid */
    width: 1.5in;
    font-size: 15px;
    box-shadow: 0 3px 10px gray;
    justify-content: center;
}

.team h2{
    font-family: sans-serif;
    font-size: 50px; 
    text-align: left;
}

.team span{
    border-color: #171d26;
    color: #fff;
    align-items: center;
}

.team span img{
  height: 35px;
  align-items: center;
}

