.main{
    overflow-x: scroll;
}

body {
            margin: 0; /* Remove default margin */
            padding: 0;
            height: 100vh; /* Full viewport height */
            width: 100vw; /* Full viewport width */
            background-image: url('https://images5.alphacoders.com/877/877099.jpg'); /* Path to your image */
            background-size: cover; /* Scale image to cover entire area */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Prevent tiling */
            background-attachment: fixed; /* Keep image fixed during scroll */
            font-family: Arial, sans-serif;
            color: white;
        }
 
nav {
    width:100%;
    height:75px;
    background-color: #171d26;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: absolute;
    top: 0;
    z-index: 1;
}


.logo{
    font-size: 32px;
    font-weight: bold;
}
  
.socials-container{    
    display: flex;    
    justify-content: flex-start;
    padding-top: 456px;
    gap: 20px;
    width: 144.8px;
       
}

.menu {
    width: 65%;
    display: flex;
    justify-content: center;
    list-style: none;     
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover{
    color:#ccc;

}

.search{
    --padding: 10px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 450px;
    margin-right: 5px;
}

.search form{
    display: flex;
    margin: 0;
}

.search input{
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: var(--padding);
    font-size: 16px;
    color: #333333;
    flex: 1;
}

.search input:hover{
    border: 1px solid #72a0d4;
}

.search input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.25);
}

.search-icon{
    padding-left: 5px;
}

.search button{
    padding: 10px;
    background-color: #0796a0ef;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    justify-content: space-between;
}


.search button:hover{
    background-color: #011211;
}

.socials-container ul{    
    text-decoration: none;
    list-style: none;
}

.socials-container ul li{
    margin: 20px;
}

.socials-container a{
    background-color: none;
    padding: 1em;
    border-radius: 50%;
}

.socials-container a svg{
    height: 32px;
    fill: white;
}

main{
    display: flex;
    justify-content: center;
}

main h1{   
    font-family: sans-serif;
    font-size: 100px; 
    text-align: left;
    color: #fff;
}

main p{
    font-family: sans-serif;
    font-size: 25px; 
    text-align: left;
    color: #fff;
}

.text{
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
}
   
p {
    font: 5px;
    text-emphasis-color: rgba(251, 244, 244, 0.847);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 40px;
}

.all-teams{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;  
  padding-left: 70px;
}

.all-teams div{
    margin: 25px;
    display: block;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    color: white; /* Text remains solid */
    height: 144px;
    width: 180px;
    font-size: 15px;
    box-shadow: 0 3px 10px gray;
    justify-content: center;
}

.all-teams div h2{
    font-family: sans-serif;
    font-size: 50px; 
    text-align: left;
}

.all-teams div span{
    border-color: #171d26;
    color: #fff;
    align-items: center;
}

.all-teams div span img{
  height: 35px;
  align-items: center;
}

.director-container{
    margin: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.75); /* Black with 75% transparency */
    color: white;
    align-content: center;
}

.go-home{
  justify-content: center;
  color: #fff;
}
